<div *ngIf="(currentUserPage$ | async) as currentUserPage" class="account-actions">
    <a href="#" class="account-actions__back">
        <mat-icon svgIcon="arrow-left" class="account-actions__back-icon">back</mat-icon>
        <span class="account-actions__back-description">Назад</span>
    </a>
    <h2 class="account-actions__header">Настройка учетных записей сотрудников контрагента</h2>
    <div class="account-actions__account-options">
        <button mat-button class="account-actions__account-option-button">
            <span class="account-actions__account-option-button-description">
                Добавить
            </span>
        </button>
        <button (click)="unBlockSelectedUsers(currentUserPage.users)" mat-button
            class="account-actions__account-option-button">
            <span class="account-actions__account-option-button-description">
                Разблокировать
            </span>
        </button>
        <button (click)="blockSelectedUsers(currentUserPage.users)" mat-button
            class="account-actions__account-option-button">
            <span class="account-actions__account-option-button-description">
                Заблокировать
            </span>
        </button>
    </div>
    <div class="account-actions__show-filter">
        <button mat-button class="account-actions__show-filter-button">
            <span class="account-actions__show-filter-button-description">
                Фильтр
            </span>
        </button>
    </div>
</div>